extends layout

block content

     
    h1 Générateur de tournois
  
    h2 Comment ça marche ?

    p(style='white-space:pre;')
        | Grâce à notre générateur de tournois, créer vos comptétions quelque soit le sport.  
        | Entrez vos équipes on fait le reste. On vous génère un tableau de rencontre que vous 
        | pouvez remplir en temps réel tout au long du tournois.
  
    img(src='/images/tableau.png', alt='Tableau', class="center")

    input.favorite.styled(type='button', value='Commencer', class="center2")

