extends layout
head
  title Tournoi
block content

  body

  h1 Générateur de tournois

    h2 Générez vos tournois en un click !
    p(style='white-space:pre;')
      | Grâce à notre générateur de tournois, créer vos comptétions quelque soit le sport.  
      | Entrez vos équipes on fait le reste. On vous génère un tableau de rencontre que vous 
      | pouvez remplir en temps réel tout au long du tournois.
    p
      style="text-align:center"
      img(src='/images/tableau.png' alt='Tableau' class="image")

  .bouton-aligne  
    form#formRedirectToTournament(method="get" action="/tournament")
      button#redirectToTournament.button(type="submit" class="bouton") Nouveau tournoi
  .bouton-aligne
    form#formFindTournament(method="post" action="/")
      input#idTournament(type="number", placeholder="Numéro du tournoi", name="idTournament", onChange="checkNumber()")
      input#nameTournament(type="text", placeholder="Nom du tournoi", name="nameTournament")
      br
      input#findTournament.button(type="button" class="bouton" value="Rechercher un tournoi" onClick="checkValues()")


      script(type='text/javascript').
        function checkNumber(){
          var id = document.getElementById("idTournament");
          if (id.value < 0) 
          {
            alert("Le numéro du tournoi doit être supérieur à zéro !");
            id.value = 0;
          }
        }

        function checkValues()
        {
          var id = document.getElementById("idTournament");
          var name = document.getElementById("nameTournament");

          if (id.value != "" || name.value != "")
          {
            document.getElementById("formFindTournament").submit();
          }
          else{
            alert("Vous devez remplir une des valeurs pour rechercher un tournoi.")
           }
        }